.page {
    position: absolute;
    top: 5em;
    bottom: 0.5em;
    width: 100%;

}
.page-contents {
	height:100%;
}
.grid-wrapper {
    height: 100%;
    display: inline-block;
    margin-left: 10%;
}
.details-box {
    margin-right: 10%;
    height: 100%;
}
.details-box-content {
    box-sizing: border-box;
    padding: 1em;
}

.event-grid {
    width: 90%;
}

.cell {
}

.event-grid {
    
    height: 100%;
}

.event-grid .cell {
    display: inline-block;
    text-decoration: none;
    height: 25%;
    width: 25%;
    vertical-align: middle;
    text-align: center;
}

.event-grid .cell .cell-contents {
    height: 90%;
    width: 90%;
    margin: 5% 5%;
    font-family: 'Rokkitt', serif;
	box-shadow: 0 0 5px 2px #000022;
	-webkit-box-shadow: 0 0 5px 2px #000022;
	-moz-box-shadow: 0 0 5px 2px #000022;
}

.event-grid .h1 {
    /*
     * background-color: rgba(255,255,255,0.1);
     * filter:DropShadow(Color=#999999, OffX=1, OffY=1);
     * text-shadow: 1px 1px #999;
     */
    font-size: 1.1em;
    line-height: 1.2em;
    z-index: 10;
}

.event-grid .cell a {
    color: black;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #22a0b3;
}
/*
.event-grid .cell a:hover {
    font-variant: small-caps;
    font-weight: bold;
}
* */
.event-grid a {
    color: black;
}

.duo {
    position: relative;
}
.event-grid a .h1 {
    display: inline-block;
    margin: auto;
    position: relative;
    color: white;
}

.event-grid .cell a:before {
    /*
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -0.1em;
    background-color: purple;
    */
}

.overlay {
  height: 2.5em;
  padding: 0.25em 0;
}
.overlay .h1.single {
  top: 0.6em;
}
.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -0.1em;
 /* Adjusts for spacing */
}

.cell .details {
    display: none;
}
.event-grid .overlay {
    z-index: 5;
}
.event-grid img {
    z-index: 0;
}
.event-grid img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.event-grid .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
	background-color: #666;
    background-color: rgba(0,0,0,0.7);
}

.details-box {
    position: absolute;
    display: inline-block;
    color: #ddd;
    line-height: 1.5em;
    border: 1px solid transparent;
    margin-top: 4px;
    margin-right: 10%;
}
.details-box-content {
    background-color: black;
    opacity: 0.9;
    margin: 1px 0 1em 1em;
    font-size: 1.1em;
	text-align: justify;
	box-shadow: 0 0 5px 2px #000022;
}
.details-box .h1 {
  text-align: center;
  display: block;
  font-size: 1.6em;
  line-height: 2em;
}
