body, html {
  height: 100%;
}

#form-wrapper {
  text-align: left;
  display: block;
  margin: 1em auto;
  width: 40%;
  min-width: 300px;
}

form {
  border-radius: 3px;
  background-color: rgba(20,20,20,0.8);
  font-size: inherit;
  margin: 5%;
  padding: 2%;
}

input, textarea {
  opacity: 0.9;
  font-size: inherit;
  line-height: 1.2em;
  margin: 3% 1%;
  padding: 1.5%;
}

input {
  width: 94%;
  height: 1.4em;
  border-radius: 2px;
  outline: none;
}
#plus {
  display: inline-block;
  width: 3%;
  color: white;
  font-weight:bold;
}
#country_code {
  width: 9%;
}
#phone_no {
  width: 77%;
}
textarea {
  width: 94%;
  border-radius: 2px;
}

.content-wrapper {
  min-height: 100%;
  padding: 0!important;
}

.content {
  padding-top: 1em;
  text-align: center;
}

.footer-wrapper {
  position: static;
  height: auto;
}

label {
  display: block;
}

label > span {
  display: block;
  color: #FFF;
}

.textbox {
  border: 0;
  background-color: #f5f5f5;
}

#address {
  resize: none;
}

input.invalid,
textarea.invalid {
  background-color: #faa;
  transition: background-color 0.4s;
}

input[type=submit] {
  height: inherit;
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
}

input[type=submit]:hover {
  background: #d3d3d3;
  -webkit-box-shadow: inset 0 0 1px 1px #e0e0e0;
  box-shadow: inset 0 0 1px 1px #e0e0e0;
  color: #111;
  cursor: pointer;
}
.errors p {
color: red;
		line-height: 2em;
}
.captcha-container {
	border: 2px solid #ccc;
	padding: 1em;
}
.captcha-container img,
.captcha-container input {
	width: 80%;
}
